.revealer1,
.revealer2,
.revealer3 {
  position: relative;
  overflow: hidden;
}

.img-mask1,
.img-mask2,
.img-mask3,
.img-mask4,
.img-mask5 {
  position: absolute;
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
}
.img-mask1 img,
.img-mask2 img,
.img-mask3 img,
.img-mask4 img,
.img-mask5 img {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: "editionregular";
  src: url("/src/fonts/edition_-webfont.woff2") format("woff2"),
    url("/src/fonts/edition_-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.edition {
  font-family: "editionregular";
}
